.hero-wrapper {
  max-width: 80rem;
  width: 100%;

  margin-inline: auto;

  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;

  @media (width < 1024px) {
    display: flex;
    flex-direction: column;
  }

  & h1 {
    width: 100%;
    max-width: 40rem;
  }

  h1 div {
    display: inline-block;
    overflow: hidden;

    height: 5rem;
    width: min-content;

    vertical-align: bottom;

    @media (width <1024px) {
      height: 2.5rem;
    }
  }

  h1 span {
    display: block;

    animation: slideUp 6s infinite ease;

    @media (width < 1024px) {
      animation: slideUpPhone 6s infinite ease;
    }
  }

  h1 span:nth-child(1),
  span:nth-child(4) {
    color: var(--blue);
  }

  h1 span:nth-child(2) {
    color: var(--fuchsia);
  }

  h1 span:nth-child(3) {
    color: var(--green);
  }
}

.buttons-wrapper {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .btn-primary {
    border: none;
    border-radius: 5rem;

    padding: 1.5rem 3rem;

    background-color: var(--yellow);

    @media (width < 1024px) {
      gap: 1.5rem;
    }
  }

  @media (width < 1024px) {
    display: flex;
    flex-direction: column;
  }

  & button {
    box-shadow:
      0px 57px 16px 0px rgba(0, 0, 0, 0),
      0px 36px 15px 0px rgba(0, 0, 0, 0.01),
      0px 20px 12px 0px rgba(0, 0, 0, 0.05),
      0px 9px 9px 0px rgba(0, 0, 0, 0.09),
      0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    cursor: pointer;
  }

  & .btn-primary:hover {
    transform: scale(1.05);
  }

  & .btn-secondary-wrapper {
    display: flex;
    gap: 2rem;

    cursor: pointer;
    transition: all 0.4s;

    @media (width < 1024px) {
      flex: 1;
    }
  }

  & .btn-secondary-wrapper:hover {
    transform: scale(1.05);
  }

  .btn-secondary {
    border: none;
    border-radius: 100%;

    display: relative;
    padding: 1.5rem;
  }

  & button + p {
    margin-block: auto;
  }
}

.hero-image-phone {
  display: none;

  & .patins {
    width: 100%;
    max-width: 32.5rem;
    height: 30.5rem;

    margin-inline: auto;

    @media (width > 400px) and (width < 728px) {
      height: 25rem;
    }

    @media (width > 330px) and (width < 400px) {
      height: 18rem;
    }
  }
  @media (width < 1024px) {
    display: initial;
  }
}

.hero-image {
  position: relative;
  width: 100%;

  @media (width < 1024px) {
    display: none;
  }
}

.blue-circle {
  animation-name: blue-ball;
  animation-duration: 1.4s;
}

.patins {
  position: absolute;
  left: 0;

  animation-name: patinsIn;
  animation-duration: 1s;

  @media (width < 1024px) {
    right: 0;
    animation-name: patinsInPhone;
  }
}

.stars-1,
.stars-2 {
  position: absolute;
  animation-name: starsIn;
  animation-duration: 1.2s;
}

.stars-1 {
  width: 5.5rem;
  height: 4.5rem;

  top: 9rem;
  left: 0;

  @media (width < 1024px) {
    width: 4rem;

    top: 12rem;
    left: 2rem;
  }
}

.stars-2 {
  width: 2.5rem;
  height: 3.75rem;

  top: 17rem;
  right: 0;

  @media (width < 1024px) {
    width: 2rem;

    top: 16rem;
    right: 2rem;
  }
}

@keyframes slideUpPhone {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-2.5rem - 15px));
  }
  25% {
    transform: translateY(calc(-2.5rem + 15px));
  }
  27% {
    transform: translateY(calc(-2.5rem - 5px));
  }
  29% {
    transform: translateY(calc(-2.5rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-2.5rem);
  }

  56% {
    transform: translateY(calc(-5rem - 15px));
  }

  58% {
    transform: translateY(calc(-5rem + 10px));
  }
  60% {
    transform: translateY(calc(-5rem - 5px));
  }
  62% {
    transform: translateY(calc(-5rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-5rem);
  }

  89% {
    transform: translateY(calc(-7.5rem - 15px));
  }

  91% {
    transform: translateY(calc(-7.5rem + 10px));
  }
  93% {
    transform: translateY(calc(-7.5rem - 5px));
  }
  95% {
    transform: translateY(calc(-7.5rem + 5px));
  }

  100% {
    transform: translateY(-7.5rem);
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-5rem - 15px));
  }
  25% {
    transform: translateY(calc(-5rem + 15px));
  }
  27% {
    transform: translateY(calc(-5rem - 5px));
  }
  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }
  60% {
    transform: translateY(calc(-10rem - 5px));
  }
  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-10rem);
  }

  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }
  93% {
    transform: translateY(calc(-15rem - 5px));
  }
  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}

@keyframes blue-ball {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes patinsInPhone {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes patinsIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes starsIn {
  0% {
    transform: translateX(80rem);
  }

  100% {
    transform: translateX(0%);
  }
}
