.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.py-lg {
  padding-block: 2rem;
}

.py-sm {
  padding-block: 0.5rem;
}

.py-xl {
  padding-block: 2.5rem;
}

.px-lg {
  padding-inline: 2rem;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.desktop-only {
  @media (width < 1024px) {
    display: none;
  }
}
